*{
  margin: 0;
  padding: 0;
}
.css-e4nb0l{
  position: absolute;
  top: 37.5%;
}
/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #000; /* Scrollbar thumb color */
  border-radius: 50px; /* Fully rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Darker color on hover */
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #000 transparent; /* Thumb color and transparent track */
}
